<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
</head>
<body>
    <h1>Liste des Produits</h1>
    <a href="{% url 'ajouter_produit' %}">Ajouter un Produit</a>
    <ul>
        {% for produit in produits %}
            <li>{{ produit.nom }} - {{ produit.categorie }} - {{ produit.prix }}€ - Stock: {{ produit.stock }}</li>
        {% endfor %}
    </ul>
</body>
</html>
